<!-- <h1>Hello SAE8</h1>
<div>
    interpolation: Bonjour {{VAR1}}
</div>

<div >
    Property / event binding: <img [src]="VAR2" (click)="myFirstFunction()">
</div>

<div *ngIf="VAR1 else alt">
    Two-way binding: <input type="text" [(ngModel)]="VAR1">
</div>

<ng-template #alt> 
    #alt est du html reference 
    <div> var1 est evalué à false </div>
</ng-template> 

<ul *ngFor="let item of myList, let i=index" type="none">
    <li>{{i}}- {{item}}</li>
</ul> -->
<h2 > Home </h2>
<app-residences></app-residences>